<div>
  <h2 class="intro-y fs-lg fw-medium mt-10">Danh sách sản phẩm</h2>
  <div class="grid columns-12 gap-6 mt-5">
    <div
      class="intro-y g-col-12 d-flex flex-wrap flex-sm-nowrap align-items-center mt-2"
    >
      <button class="btn btn-primary shadow-md me-2" (click)="getProduct(null)">
        <!-- data-bs-toggle="modal"
        data-bs-target="#productModal" -->
        <!-- ng-click="getProduct(0)" -->
        Thêm sản phẩm
      </button>
      <div class="dropdown" style="position: relative" data-uid="_sebjmtfy8">
        <button
          class="dropdown-toggle btn px-2 box text-gray-700 dark-text-gray-300"
          aria-expanded="[object HTMLDivElement]"
          data-bs-toggle="dropdown"
        >
          <span
            class="w-5 h-5 d-flex align-items-center justify-content-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-plus w-4 h-4"
            >
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>
          </span>
        </button>
        <div class="dropdown-menu w-40" data-uid="_sebjmtfy8">
          <div class="dropdown-content">
            <a href="" class="dropdown-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-printer w-4 h-4 me-2"
              >
                <polyline points="6 9 6 2 18 2 18 9"></polyline>
                <path
                  d="M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2"
                ></path>
                <rect x="6" y="14" width="12" height="8"></rect>
              </svg>
              In
            </a>
            <a href="" class="dropdown-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-file-text w-4 h-4 me-2"
              >
                <path
                  d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                ></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>
              Xuất ra Excel
            </a>
            <a href="" class="dropdown-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-file-text w-4 h-4 me-2"
              >
                <path
                  d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                ></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>
              Xuất ra PDF
            </a>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block mx-auto text-gray-600">
        Hiển thị <span>{{ pageSize }}</span> /
        <span>{{ products.length }}</span> sản phẩm
      </div>
      <div class="w-full w-sm-auto mt-3 mt-sm-0 ms-sm-auto ms-md-0">
        <div class="w-56 position-relative text-gray-700 dark-text-gray-300">
          <input
            type="text"
            class="form-control w-56 box border-white dark-border-dark-3 pe-10 placeholder-theme-13"
            placeholder="Tìm kiếm..."
            [(ngModel)]="searchText"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-search w-4 h-4 position-absolute my-auto top-0 bottom-0 me-3 end-0"
          >
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
          </svg>
        </div>
      </div>
    </div>
    <!-- BEGIN: Data List -->
    <div class="intro-y g-col-12 overflow-auto overflow-lg-visible">
      <table class="table table-report mt-n2">
        <thead>
          <tr>
            <th class="text-center text-nowrap w-20">Thứ tự</th>
            <th class="text-wrap">Tên sản phẩm</th>
            <th class="text-center text-nowrap w-40">Số lượng còn</th>
            <th class="text-center text-nowrap w-40">Hành động</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let product of products
                | filter : { productName: searchText }
                | paginate
                  : {
                      itemsPerPage: pageSize,
                      currentPage: page,
                      totalItems: count
                    };
              let i = index
            "
            current-page="currentPage"
            class="intro-x"
          >
            <td class="text-center w-20">
              {{ (page - 1) * pageSize + i + 1 }}
            </td>
            <td class="text-start">
              <div class="fw-medium text-wrap">
                {{ product.productName }}
              </div>
              <div class="text-gray-600 fs-xs mt-0.5">
                {{ product.subCategory.subCategoryName }}
              </div>
            </td>
            <td class="text-center w-40">
              {{ product.stock }}
            </td>
            <td class="table-report__action w-40">
              <div class="d-flex justify-content-center align-items-center">
                <a
                  class="d-flex align-items-center me-3"
                  href="javascript:;"
                  (click)="getProduct(product._id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-check-square w-4 h-4 me-1"
                  >
                    <polyline points="9 11 12 14 22 4"></polyline>
                    <path
                      d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"
                    ></path>
                  </svg>
                </a>
                <a
                  class="d-flex align-items-center text-theme-6"
                  href="javascript:;"
                  (click)="deleteProduct(product._id)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-trash-2 w-4 h-4 me-1"
                  >
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path
                      d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                    ></path>
                    <line x1="10" y1="11" x2="10" y2="17"></line>
                    <line x1="14" y1="11" x2="14" y2="17"></line>
                  </svg>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- END: Data List -->
    <!-- BEGIN: Pagination -->
    <div
      class="intro-y g-col-12 d-flex flex-wrap flex-sm-row flex-sm-nowrap align-items-center"
    >
      <nav class="w-full w-sm-auto me-sm-auto">
        <!-- <dir-pagination-controls
          max-size="10"
          direction-links="true"
          boundary-links="true"
        >
        </dir-pagination-controls> -->
        <pagination-controls
          previousLabel=""
          nextLabel=""
          (pageChange)="onTableDataChange($event)"
        >
        </pagination-controls>
      </nav>
      <select
        (change)="onTableSizeChange($event)"
        class="w-20 form-select box mt-3 mt-sm-0"
      >
        <option *ngFor="let size of pageSizes" [value]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <!-- END: Pagination -->
  </div>

  <!-- BEGIN: Modal Content -->

  <!-- BEGIN: Product  -->
  <div id="productModal" class="modal fade" tabindex="-1" aria-hidden="true">
    <div
      class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable"
    >
      <div class="modal-content">
        <div [formGroup]="productForm">
          <!-- BEGIN: Modal Header -->
          <div class="modal-header">
            <h2 class="fw-medium fs-base me-auto">{{ title }}</h2>
          </div>
          <!-- END: Modal Header -->
          <!-- BEGIN: Modal Body -->
          <div class="modal-body">
            <div class="grid columns-12 gap-4 gap-y-3">
              <!-- ng-if="action != 0" -->
              <div [ngClass]="state == 1 ? 'show' : 'hide'" class="g-col-12">
                <div class="grid columns-12 gap-4 gap-y-3 w-full">
                  <div class="g-col-11">
                    <button
                      class="btn btn-secondary btn__manage w-full me-1 mb-2"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseColor"
                    >
                      Màu sắc
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </button>
                  </div>
                  <div class="g-col-1">
                    <button
                      class="btn btn-secondary w-full me-1 mb-2"
                      style="border: 1px solid #e2e8f0; height: 42px"
                      (click)="hideCollapse('#collapseColor')"
                    >
                      &#8212;
                    </button>
                  </div>
                </div>
                <div class="collapse" id="collapseColor">
                  <div class="card card-body" style="background: #f1f5f8">
                    <div
                      style="background: #fff"
                      class="grid columns-12 gap-4 gap-y-3 w-full p-5"
                      [formGroup]="colorForm"
                    >
                      <div class="g-col-12 g-col-sm-6">
                        <div id="container">
                          <div id="mainbody">
                            <div id="ntc">
                              <div id="picker"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="g-col-12 g-col-sm-6 d-flex justify-content-center flex-column"
                      >
                        <div class="g-col-12 g-col-sm-12">
                          <input
                            id="colorbox"
                            type="text"
                            class="form-control choose-color"
                            readonly
                          />
                        </div>
                        <div class="g-col-12 g-col-sm-12">
                          <input
                            id="colorname"
                            type="text"
                            class="form-control"
                            placeholder="Màu đen, Màu trắng"
                            formControlName="colorName"
                            required
                          />
                          <!-- readonly -->
                        </div>
                        <div class="g-col-12 g-col-sm-12">
                          <input
                            id="colorinp"
                            type="text"
                            class="form-control"
                            placeholder="#000000, #ffffff"
                            formControlName="hex"
                            required
                          />
                        </div>
                        <div class="g-col-12 g-col-sm-12">
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Đơn giá: 390.000 VND, 480.000 VND"
                            formControlName="price"
                            required
                          />
                        </div>
                      </div>
                      <div class="g-col-12 d-flex justify-content-start">
                        <button
                          class="btn btn-secondary btn__manage btn__create-color me-1 mb-2"
                          (click)="createColor()"
                        >
                          Thêm
                        </button>
                        <button
                          class="btn btn-secondary btn__manage btn__update-color me-1 mb-2"
                          (click)="updateColor()"
                        >
                          Cập nhật
                        </button>
                        <button
                          class="btn btn-secondary btn__manage btn__reset-color me-1 mb-2"
                          (click)="actionColor(0)"
                        >
                          Làm mới
                        </button>
                      </div>
                    </div>
                    <table class="table table-report mt-n2 table__sub">
                      <thead>
                        <tr>
                          <th class="text-wrap">Tên màu sắc</th>
                          <th class="text-center text-nowrap w-20">Màu</th>
                          <th class="text-center text-nowrap w-20">Đơn giá</th>
                          <th class="text-center text-nowrap w-20">
                            Hành động
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          *ngFor="let color of colors"
                          (click)="getColor(color._id, $event)"
                          class="intro-x"
                        >
                          <td class="text-wrap">{{ color.colorName }}</td>
                          <td class="text-center w-20">
                            <div
                              class="table__sub-color"
                              [ngStyle]="{ 'background-color': color.hex }"
                            ></div>
                          </td>
                          <td class="text-center w-20">
                            {{
                              color.price == null
                                ? "(chưa có giá)"
                                : (color.price | currency : "VND" : "symbol")
                            }}
                          </td>
                          <td class="table-report__action w-20">
                            <div
                              class="d-flex justify-content-center align-items-center"
                            >
                              <a
                                class="d-flex align-items-center me-3"
                                href="javascript:;"
                                (click)="getColor(color._id, $event, 1)"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="feather feather-check-square w-4 h-4 me-1"
                                >
                                  <polyline points="9 11 12 14 22 4"></polyline>
                                  <path
                                    d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"
                                  ></path>
                                </svg>
                              </a>
                              <a
                                class="d-flex align-items-center text-theme-6"
                                href="javascript:;"
                                (click)="deleteColor(color._id)"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  width="24"
                                  height="24"
                                  viewBox="0 0 24 24"
                                  fill="none"
                                  stroke="currentColor"
                                  stroke-width="1.5"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  class="feather feather-trash-2 w-4 h-4 me-1"
                                >
                                  <polyline points="3 6 5 6 21 6"></polyline>
                                  <path
                                    d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                                  ></path>
                                  <line x1="10" y1="11" x2="10" y2="17"></line>
                                  <line x1="14" y1="11" x2="14" y2="17"></line>
                                </svg>
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="g-col-12">
                <div class="grid columns-12 gap-4 gap-y-3 w-full">
                  <div class="g-col-11">
                    <button
                      class="btn btn-secondary btn__manage w-full me-1 mb-2"
                      data-bs-toggle="collapse"
                      data-bs-target="#collapseProduct"
                    >
                      Sản phẩm
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-chevron-down"
                      >
                        <polyline points="6 9 12 15 18 9"></polyline>
                      </svg>
                    </button>
                  </div>
                  <div class="g-col-1">
                    <button
                      class="btn btn-secondary w-full me-1 mb-2"
                      style="border: 1px solid #e2e8f0; height: 42px"
                      (click)="hideCollapse('#collapseProduct')"
                    >
                      &#8212;
                    </button>
                  </div>
                </div>
                <div class="collapse menu" id="collapseProduct">
                  <div class="card card-body" style="background: #f1f5f8">
                    <div
                      style="background: #fff"
                      class="grid columns-12 gap-4 gap-y-3 w-full p-5"
                    >
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-2" class="form-label"
                          >Tên sản phẩm</label
                        >
                        <input
                          id="modal-form-2"
                          type="text"
                          class="form-control"
                          placeholder="T-SHIRT LOGO X ZEUS, SKINNY FIT JEANS"
                          formControlName="productName"
                          required
                        />
                      </div>
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-3" class="form-label"
                          >Nguồn gốc</label
                        >
                        <input
                          id="modal-form-3"
                          type="text"
                          class="form-control"
                          placeholder="Việt Nam, USA"
                          formControlName="origin"
                          required
                        />
                      </div>
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-4" class="form-label"
                          >Chất liệu</label
                        >
                        <input
                          id="modal-form-4"
                          type="text"
                          class="form-control"
                          placeholder="Cotton, Nỉ bông"
                          formControlName="material"
                          required
                        />
                      </div>
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-5" class="form-label"
                          >Phong cách</label
                        >
                        <input
                          id="modal-form-5"
                          type="text"
                          class="form-control"
                          placeholder="StreetWear, Lịch thiệp"
                          formControlName="style"
                          required
                        />
                      </div>
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-6" class="form-label"
                          >Danh mục</label
                        >
                        <div class="">
                          <select
                            class="form-select w-full"
                            formControlName="subCategory"
                            required
                          >
                            <option style="display: none" value="">
                              Chọn danh mục
                            </option>
                            <optgroup
                              *ngFor="let category of categories"
                              [label]="category.categoryName"
                            >
                              <option
                                *ngFor="
                                  let subCategory of category.subCategories
                                "
                                [selected]="
                                  productForm.get('subCategory') ==
                                  subCategory._id
                                "
                                [value]="subCategory._id"
                              >
                                {{ subCategory.subCategoryName }}
                              </option>
                            </optgroup>
                          </select>
                        </div>
                      </div>
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-6" class="form-label"
                          >Thương hiệu</label
                        >
                        <select
                          class="form-select w-full"
                          formControlName="brand"
                          required
                        >
                          <option style="display: none" value="">
                            Chọn thương hiệu
                          </option>
                          <option
                            *ngFor="let brand of brands"
                            [selected]="productForm.get('brand') == brand._id"
                            [value]="brand._id"
                          >
                            {{ brand.brandName }}
                          </option>
                        </select>
                      </div>
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-6" class="form-label"
                          >Nhà cung cấp</label
                        >
                        <select
                          class="form-select w-full"
                          formControlName="supplier"
                          required
                        >
                          <option style="display: none" value="">
                            Chọn nhà cung cấp
                          </option>
                          <option
                            *ngFor="let supplier of suppliers"
                            [selected]="
                              productForm.get('supplier') == supplier._id
                            "
                            [value]="supplier._id"
                          >
                            {{ supplier.supplierName }}
                          </option>
                        </select>
                      </div>
                      <div class="g-col-12 g-col-sm-6">
                        <label for="modal-form-6" class="form-label"
                          >Bộ sưu tập</label
                        >
                        <select
                          class="form-select w-full"
                          formControlName="collectionInfo"
                          required
                        >
                          <option style="display: none" value="">
                            Chọn bộ sưu tập
                          </option>
                          <option
                            *ngFor="let collection of collections"
                            [selected]="
                              productForm.get('collectionInfo') ==
                              collection._id
                            "
                            [value]="collection._id"
                          >
                            {{ collection.collectionName }}
                          </option>
                        </select>
                      </div>
                      <div class="g-col-12">
                        <label for="modal-form-5" class="form-label"
                          >Bảng kích cỡ sản phẩm</label
                        >
                        <div class="mt-2">
                          <input
                            id="sizeGuideUpload"
                            type="file"
                            class="form-control mb-2"
                            (change)="loadImage($event)"
                          />
                          <img
                            id="sizeGuideImage"
                            data-action="zoom"
                            style="object-fit: cover"
                            class="w-full rounded-2"
                            alt=""
                          />
                          <button
                            class="btn btn-secondary w-full me-1 mt-2 mb-2"
                            (click)="deleteImage()"
                          >
                            Xóa bảng kích cỡ sản phẩm
                          </button>
                        </div>
                      </div>
                      <div class="g-col-12">
                        <label for="modal-form-5" class="form-label"
                          >Mô tả sản phẩm</label
                        >
                        <div class="mt-2">
                          <ckeditor
                            [editor]="Editor"
                            formControlName="description"
                          ></ckeditor>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END: Modal Body -->
          <!-- BEGIN: Modal Footer -->
          <div class="modal-footer text-end">
            <button
              type="button"
              data-bs-dismiss="modal"
              class="btn btn-outline-secondary w-20 me-1"
            >
              Hủy
            </button>
            <button
              type="button"
              class="btn btn-primary w-20"
              (click)="upload(postSizeGuideImage)"
            >
              Lưu
            </button>
          </div>
          <!-- END: Modal Footer -->
        </div>
      </div>
    </div>
  </div>
  <!-- END: Product -->

  <!-- BEGIN: Color Modal  -->
  <div
    id="colorModal"
    class="modal fade"
    tabindex="-1"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    aria-labelledby="staticBackdropLabel"
  >
    <div class="modal-dialog modal-xl modal-dialog-scrollable modal-overlap">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="fw-medium fs-base me-auto">
            Cập nhật thông tin của màu sắc
          </h2>
          <a href="javascript:;" (click)="getBack()"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-x d-block mx-auto"
            >
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line></svg
          ></a>
        </div>
        <div class="modal-body">
          <!-- p-10  -->
          <div class="grid columns-12 gap-4 gap-y-3 text-center">
            <!-- images -->
            <div class="g-col-6">
              <div class="grid columns-12 gap-4 gap-y-3 w-full">
                <div class="g-col-11">
                  <button
                    class="btn btn-secondary btn__manage w-full me-1 mb-2"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseImage"
                  >
                    Hình ảnh
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-chevron-down"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </button>
                </div>
                <div class="g-col-1">
                  <button
                    class="btn btn-secondary w-full me-1 mb-2"
                    style="border: 1px solid #e2e8f0; height: 42px"
                    (click)="hideCollapse('#collapseImage')"
                  >
                    &#8212;
                  </button>
                </div>
              </div>
              <div class="collapse" id="collapseImage">
                <div class="card card-body" style="background: #f1f5f8">
                  <div
                    style="background: #fff"
                    class="grid columns-12 gap-4 gap-y-3 w-full p-5"
                    [formGroup]="colorImageForm"
                  >
                    <div class="g-col-12">
                      <img
                        id="colorImage"
                        data-action="zoom"
                        style="object-fit: cover"
                        class="w-full rounded-2"
                        alt=""
                      />
                    </div>
                    <div class="g-col-12">
                      <input
                        id="colorUpload"
                        type="file"
                        class="form-control mb-2"
                        (change)="loadColorImage($event)"
                      />
                    </div>
                    <div class="g-col-12 d-flex justify-content-start">
                      <button
                        class="btn btn-secondary btn__manage btn__create-image me-1 mb-2"
                        (click)="uploadColorImage(postColorImage, 0)"
                      >
                        Thêm
                      </button>
                      <button
                        class="btn btn-secondary btn__manage btn__update-image me-1 mb-2"
                        (click)="uploadColorImage(postColorImage, 1)"
                      >
                        Cập nhật
                      </button>
                      <button
                        class="btn btn-secondary btn__manage btn__reset-image me-1 mb-2"
                        (click)="actionColorImage(0)"
                      >
                        Làm mới
                      </button>
                    </div>
                  </div>
                  <table class="table table-report mt-n2 table__sub">
                    <thead>
                      <tr>
                        <th class="text-wrap" style="text-align: left">
                          Hình ảnh
                        </th>
                        <th class="text-center text-nowrap w-20">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let image of colorImages"
                        (click)="getColorImage(image._id, $event)"
                        class="intro-x"
                      >
                        <td class="text-wrap w-full">
                          <img
                            [src]="image.picture"
                            style="width: 50px; height: 50px; object-fit: cover"
                            class="rounded-2"
                            alt=""
                          />
                        </td>
                        <td class="table-report__action w-20">
                          <div
                            class="d-flex justify-content-center align-items-center"
                          >
                            <a
                              class="d-flex align-items-center text-theme-6"
                              href="javascript:;"
                              (click)="deleteColorImage(image._id)"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-trash-2 w-4 h-4 me-1"
                              >
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                  d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                                ></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                              </svg>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- sizes -->
            <div class="g-col-6">
              <div class="grid columns-12 gap-4 gap-y-3 w-full">
                <div class="g-col-11">
                  <button
                    class="btn btn-secondary btn__manage w-full me-1 mb-2"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseSize"
                  >
                    Kích cỡ
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-chevron-down"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </button>
                </div>
                <div class="g-col-1">
                  <button
                    class="btn btn-secondary w-full me-1 mb-2"
                    style="border: 1px solid #e2e8f0; height: 42px"
                    (click)="hideCollapse('#collapseSize')"
                  >
                    &#8212;
                  </button>
                </div>
              </div>
              <div class="collapse" id="collapseSize">
                <div class="card card-body" style="background: #f1f5f8">
                  <div
                    style="background: #fff"
                    class="grid columns-12 gap-4 gap-y-3 w-full p-5"
                    [formGroup]="sizeForm"
                  >
                    <div class="g-col-12 g-col-sm-6">
                      <input
                        id="modal-form-2"
                        type="text"
                        class="form-control"
                        placeholder="S, M, L, XL, ..."
                        formControlName="sizeName"
                        required
                      />
                    </div>
                    <div class="g-col-12 g-col-sm-6">
                      <input
                        id="modal-form-2"
                        type="text"
                        class="form-control"
                        placeholder="50, 100, ..."
                        formControlName="quantity"
                        required
                      />
                    </div>
                    <div class="g-col-12 d-flex justify-content-start">
                      <button
                        class="btn btn-secondary btn__manage btn__create-size me-1 mb-2"
                        (click)="createSize()"
                      >
                        Thêm
                      </button>
                      <button
                        class="btn btn-secondary btn__manage btn__update-size me-1 mb-2"
                        (click)="updateSize()"
                      >
                        Cập nhật
                      </button>
                      <button
                        class="btn btn-secondary btn__manage btn__reset-size me-1 mb-2"
                        (click)="actionSize(0)"
                      >
                        Làm mới
                      </button>
                    </div>
                  </div>
                  <table class="table table-report mt-n2 table__sub">
                    <thead>
                      <tr>
                        <th
                          class="text-wrap"
                          style="text-align: left !important"
                        >
                          Kích cỡ
                        </th>
                        <th class="text-center text-nowrap w-40">Số lượng</th>
                        <th class="text-center text-nowrap w-20">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let size of sizes"
                        (click)="getSize(size._id, $event)"
                        class="intro-x"
                      >
                        <td
                          class="text-wrap"
                          style="text-align: left !important"
                        >
                          {{ size.sizeName }}
                        </td>
                        <td class="text-center w-40">
                          {{ size.quantity }}
                        </td>
                        <td class="table-report__action w-20">
                          <div
                            class="d-flex justify-content-center align-items-center"
                          >
                            <a
                              class="d-flex align-items-center text-theme-6"
                              href="javascript:;"
                              (click)="deleteSize(size._id)"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-trash-2 w-4 h-4 me-1"
                              >
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                  d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                                ></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                              </svg>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- discounts -->
            <div class="g-col-12">
              <div class="grid columns-12 gap-4 gap-y-3 w-full">
                <div class="g-col-11">
                  <button
                    class="btn btn-secondary btn__manage w-full me-1 mb-2"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseDiscount"
                  >
                    Giảm giá
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="feather feather-chevron-down"
                    >
                      <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>
                  </button>
                </div>
                <div class="g-col-1">
                  <button
                    class="btn btn-secondary w-full me-1 mb-2"
                    style="border: 1px solid #e2e8f0; height: 42px"
                    (click)="hideCollapse('#collapseDiscount')"
                  >
                    &#8212;
                  </button>
                </div>
              </div>
              <div class="collapse" id="collapseDiscount">
                <div class="card card-body" style="background: #f1f5f8">
                  <div
                    style="background: #fff"
                    class="grid columns-12 gap-4 gap-y-3 w-full p-5"
                    [formGroup]="discountForm"
                  >
                    <div class="g-col-12 g-col-sm-12">
                      <input
                        id="modal-form-2"
                        type="text"
                        class="form-control"
                        placeholder="ZSSALE2022, ZSFLASHSALE, ..."
                        formControlName="discountName"
                        required
                      />
                    </div>
                    <div class="g-col-12 g-col-sm-6">
                      <input
                        id="modal-form-2"
                        type="text"
                        class="form-control"
                        placeholder="Giá trị: 10, 50, ..."
                        formControlName="value"
                        required
                      />
                    </div>
                    <div class="g-col-12 g-col-sm-6">
                      <input
                        id="modal-form-2"
                        type="text"
                        class="form-control"
                        placeholder="Số lượng: 10, 50, ..."
                        formControlName="amount"
                        required
                      />
                    </div>
                    <div class="g-col-12 g-col-sm-6">
                      <div class="">
                        <select
                          class="form-select w-full"
                          formControlName="symbol"
                          required
                        >
                          <option style="display: none" value="">
                            Chọn đơn vị
                          </option>
                          <option
                            value="K"
                            [selected]="
                              discountForm.get('symbol')?.value == 'K'
                            "
                          >
                            K
                          </option>
                          <option
                            value="%"
                            [selected]="
                              discountForm.get('symbol')?.value == '%'
                            "
                          >
                            %
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="g-col-12 g-col-sm-6">
                      <select
                        formControlName="isActive"
                        required
                        class="form-select w-full"
                      >
                        <option style="display: none" value="">
                          Chọn hình thức giảm giá
                        </option>
                        <option
                          [value]="0"
                          [selected]="discountForm.get('isActive')?.value == 0"
                        >
                          Áp dụng ngay
                        </option>
                        <option
                          [value]="1"
                          [selected]="discountForm.get('isActive')?.value == 1"
                        >
                          Mã giảm giá
                        </option>
                      </select>
                    </div>

                    <div class="g-col-12 d-flex justify-content-start">
                      <button
                        class="btn btn-secondary btn__manage btn__create-discount me-1 mb-2"
                        (click)="createDiscount()"
                      >
                        Thêm
                      </button>
                      <button
                        class="btn btn-secondary btn__manage btn__update-discount me-1 mb-2"
                        (click)="updateDiscount()"
                      >
                        Cập nhật
                      </button>
                      <button
                        class="btn btn-secondary btn__manage btn__reset-discount me-1 mb-2"
                        (click)="actionDiscount(0)"
                      >
                        Làm mới
                      </button>
                    </div>
                  </div>
                  <table class="table table-report mt-n2 table__sub">
                    <thead>
                      <tr>
                        <th class="text-wrap" style="text-align: left">
                          Tên giảm giá
                        </th>
                        <th class="text-center text-nowrap w-40">Hình thức</th>
                        <th class="text-center text-nowrap w-40">Giá trị</th>
                        <th class="text-center text-nowrap w-40">
                          Số lượng (Sale & Codes)
                        </th>
                        <th class="text-center text-nowrap w-20">Hành động</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="let discount of discounts"
                        (click)="getDiscount(discount._id, $event)"
                        class="intro-x"
                      >
                        <td class="text-wrap" style="text-align: left">
                          {{ discount.discountName }}
                        </td>
                        <td
                          class="text-center w-40"
                          [ngClass]="
                            discount.isActive == 0
                              ? 'text-theme-9'
                              : 'text-theme-6'
                          "
                        >
                          {{ discount.isActive == 0 ? "Sale" : "Code" }}
                        </td>
                        <td class="text-center w-40">
                          - {{ discount.value }}{{ discount.symbol }}
                        </td>
                        <td class="text-center w-40">
                          <div
                            class="d-flex align-items-center justify-content-center"
                            [ngClass]="
                              discount.isActive == 0
                                ? 'text-theme-9'
                                : 'text-theme-6'
                            "
                          >
                            {{
                              discount.isActive == 0
                                ? "Không giới hạn"
                                : discount.amount
                            }}
                            <!-- <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          stroke="currentColor"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          class="feather feather-check-square w-4 h-4 me-2"
                        >
                          <polyline points="9 11 12 14 22 4"></polyline>
                          <path
                            d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"
                          ></path>
                        </svg> -->
                          </div>
                        </td>
                        <td class="table-report__action w-20">
                          <div
                            class="d-flex justify-content-center align-items-center"
                          >
                            <a
                              class="d-flex align-items-center text-theme-6"
                              href="javascript:;"
                              (click)="deleteDiscount(discount._id)"
                            >
                              <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-trash-2 w-4 h-4 me-1"
                              >
                                <polyline points="3 6 5 6 21 6"></polyline>
                                <path
                                  d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                                ></path>
                                <line x1="10" y1="11" x2="10" y2="17"></line>
                                <line x1="14" y1="11" x2="14" y2="17"></line>
                              </svg>
                            </a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- BEGIN: Modal Footer -->
        <div class="modal-footer text-end">
          <button
            type="button"
            class="btn btn-primary w-20 me-1"
            (click)="getBack()"
          >
            <!-- data-bs-target="#productModal" -->
            Trở lại
          </button>
        </div>
        <!-- END: Modal Footer -->
      </div>
    </div>
  </div>
  <!-- END:  -->
</div>
