<div
  style="display: none"
  id="subCategory-modal-description"
  class="modal fade"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div ckeditor="options"></div>
        <div class="px-5 pb-8 text-center">
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-primary w-24"
          >
            Ok
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
