<div id="delete-modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="p-5 text-center">
          <i
            data-feather="x-circle"
            class="w-16 h-16 text-theme-6 mx-auto mt-3"
          ></i>
          <div class="fs-3xl mt-5">Bạn có chắc không?</div>
          <div class="text-gray-600 mt-2">
            Bạn có thực sự muốn xóa mục này không? <br />Không thể hoàn tác quá
            trình này.
          </div>
        </div>
        <div class="px-5 pb-8 text-center">
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-outline-secondary w-24 me-1"
          >
            Hủy
          </button>
          <button
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-danger w-24"
          >
            Xóa
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
