<nav class="side-nav">
  <a href="" class="intro-x d-flex align-items-center ps-5 pt-4">
    <img
      alt="Rubick Tailwind HTML Admin Template"
      class="w-6"
      src="/assets/images/logo.svg"
    />
    <span class="d-none d-xl-block text-white fs-lg ms-3"> Zeus. </span>
  </a>
  <div class="side-nav__devider my-6"></div>
  <ul>
    <li>
      <a
        href=""
        class="side-menu side-menu--open"
        routerLink="/dashboards"
        routerLinkActive="side-menu--active"
      >
        <div class="side-menu__icon">
          <!-- <i data-feather="home"></i> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-home"
            _ngcontent-rfn-c55=""
          >
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
          </svg>
        </div>
        <div class="side-menu__title">
          Bảng Điều Khiển
          <div class="side-menu__sub-icon">
            <!-- <i data-feather="chevron-down"></i> -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-down"
              _ngcontent-rfn-c55=""
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </div>
      </a>
    </li>
    <li class="side-nav__devider my-6"></li>
    <li>
      <a
        href="javascript:;"
        class="side-menu side-menu--open"
        [ngClass]="[
          router.isActive('/products', true) ? 'side-menu--active' : '',
          router.isActive('/categories', true) ? 'side-menu--active' : '',
          router.isActive('/brands', true) ? 'side-menu--active' : '',
          router.isActive('/suppliers', true) ? 'side-menu--active' : '',
          router.isActive('/collections', true) ? 'side-menu--active' : ''
        ]"
      >
        <div class="side-menu__icon">
          <!-- <i data-feather="box"></i> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-box"
            _ngcontent-rfn-c55=""
          >
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
        </div>
        <div class="side-menu__title">
          Nhập Hàng
          <div class="side-menu__sub-icon">
            <!-- <i data-feather="chevron-down"></i> -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-down"
              _ngcontent-rfn-c55=""
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </div>
      </a>
      <ul class="side-menu__sub-open">
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/products"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Sản Phẩm</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/categories"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Danh Mục</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/brands"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Thương hiệu</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/collections"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Bộ sưu tập</div>
          </a>
        </li>
        <!-- <li>
          <a href="/admin/brands" class="side-menu">
            <div class="side-menu__icon"><i data-feather="activity"></i></div>
            <div class="side-menu__title">Thương hiệu</div>
          </a>
        </li> -->
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/suppliers"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Nhà Cung Cấp</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="side-nav__devider my-6"></li>
    <li>
      <a
        href="javascript:;"
        class="side-menu side-menu--open"
        [ngClass]="[
          router.isActive('/orders', true) ? 'side-menu--active' : '',
          router.isActive('/customers', true) ? 'side-menu--active' : '',
          router.isActive('/payments', true) ? 'side-menu--active' : '',
          router.isActive('/transports', true) ? 'side-menu--active' : ''
        ]"
      >
        <div class="side-menu__icon">
          <!-- <i data-feather="box"></i> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-box"
            _ngcontent-rfn-c55=""
          >
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
        </div>
        <div class="side-menu__title">
          Bán Hàng
          <div class="side-menu__sub-icon">
            <!-- <i data-feather="chevron-down"></i> -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-down"
              _ngcontent-rfn-c55=""
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
          </div>
        </div>
      </a>
      <ul class="side-menu__sub-open">
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/orders"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Đơn hàng</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/customers"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Khách hàng</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/payments"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Thanh toán</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/transports"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Vận chuyển</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="side-nav__devider my-6"></li>
    <li>
      <a
        href="javascript:;"
        class="side-menu side-menu--open"
        [ngClass]="[
          router.isActive('/staffs', true) ? 'side-menu--active' : '',
          router.isActive('/roles', true) ? 'side-menu--active' : ''
        ]"
      >
        <div class="side-menu__icon"><i data-feather="box"></i></div>
        <div class="side-menu__title">
          Người Dùng
          <div class="side-menu__sub-icon">
            <i data-feather="chevron-down"></i>
          </div>
        </div>
      </a>
      <ul class="side-menu__sub-open">
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/staffs"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon"><i data-feather="activity"></i></div>
            <div class="side-menu__title">Nhân Viên</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/roles"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon"><i data-feather="activity"></i></div>
            <div class="side-menu__title">Vai Trò</div>
          </a>
        </li>
      </ul>
    </li>
    <li class="side-nav__devider my-6"></li>
    <li>
      <a
        href="javascript:;"
        class="side-menu side-menu--open"
        [ngClass]="[router.isActive('/news', true) ? 'side-menu--active' : '']"
      >
        <div class="side-menu__icon">
          <!-- <i data-feather="box"></i> -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-box"
            _ngcontent-rfn-c55=""
          >
            <path
              d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
            ></path>
            <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
            <line x1="12" y1="22.08" x2="12" y2="12"></line>
          </svg>
        </div>
        <div class="side-menu__title">
          Nội dung
          <div class="side-menu__sub-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-chevron-down"
              _ngcontent-nxi-c55=""
            >
              <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
            <!-- <i data-feather="chevron-down"></i> -->
          </div>
        </div>
      </a>
      <ul class="side-menu__sub-open">
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/news"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Tin tức</div>
          </a>
        </li>
        <li>
          <a
            href=""
            class="side-menu"
            routerLink="/slides"
            routerLinkActive="side-menu--active"
          >
            <div class="side-menu__icon">
              <!-- <i data-feather="activity"></i> -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-activity"
                _ngcontent-rfn-c55=""
              >
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
            </div>
            <div class="side-menu__title">Slide</div>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
